altgraph==0.17.4
asgiref==3.8.1
colorama==0.4.6
coverage==7.6.1
Django==5.1.1
django-cors-headers==4.4.0
django-extensions==3.2.3
djangorestframework==3.15.2
factory_boy==3.3.1
Faker==28.4.1
iniconfig==2.0.0
packaging==24.1
pefile==2024.8.26
pluggy==1.5.0
psycopg2-binary==2.9.10
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pytest==8.3.3
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
six==1.16.0
sqlparse==0.5.1
tzdata==2024.1
